<div style="height:50px; padding-top:15px;">
    <h1 class="long-header-text">Which activities did you have trouble with today?</h1>
</div>

<a class="button button-icon icon ion-gear-a upper-right" ui-sref="settings" style="z-index:1000;"></a>

<ion-content style="padding-top:55px;" class="has-footer">
	<!-- SRC: https://blog.nraboy.com/2015/03/make-a-gallery-like-image-grid-using-ionic-framework/ -->
	<div class="row" ng-repeat="pic in daily.list" ng-if="$index % 3 === 0">

		<div ng-click="daily.selectActivity(daily.list[$index])" class="col col-33" ng-if="$index < daily.list.length">
	  		<img ng-src="{{ daily.list[$index].activity_image }}" ng-class="{'selectedActivity': daily.isActivitySelected(daily.list[$index])}" style="width:100%;"/>
		</div>
		<div ng-click="daily.selectActivity(daily.list[$index + 1])" class="col col-33" ng-if="$index + 1 < daily.list.length">
	  		<img ng-src="{{ daily.list[$index + 1].activity_image }}" ng-class="{'selectedActivity': daily.isActivitySelected(daily.list[$index + 1])}" style="width:100%;" />
		</div>
		<div ng-click="daily.selectActivity(daily.list[$index + 2])" class="col col-33" ng-if="$index + 2 < daily.list.length">
	  		<img ng-src="{{ daily.list[$index + 2].activity_image }}" ng-class="{'selectedActivity': daily.isActivitySelected(daily.list[$index + 2])}" style="width:100%;" />
		</div>

	</div>
    
</ion-content>

<div class="bar bar-footer bar-positive" ng-click="daily.submitSelection()">
	<div class="title">Submit ( {{ daily.selectedActivities.length }} )</div>
</div>
