<ion-content scroll="false" class="has-footer">
	
	<a class="button button-icon icon ion-gear-a upper-right white-icon" ui-sref="settings" style="z-index:1000;"></a>

	
	<div>
        <img style="width: 100%;"
			height="{{monthly.height}}" 
            ng-src="{{ monthly.object.activity_image }}" 
            spinkit-image-preloader="rotating-plane-spinner" />
      	
          <div style="background-color: #1e8cf4; z-index:1000; height: 35px; width:100%;">
        	<h3 style="color:white; text-align: center;">{{ monthly.object.activity_name }}</h3>
      	</div>

	</div>

	<div class="row">
        <div class="col" style="text-align: center;">
          	<h4>{{ monthly.config.prompt }}</h4>
          	<small>{{ monthly.object.activity_image_index + 1 }} of {{ monthly.numberOfObjs }}</small>
        </div>
    </div>

	<div class="row" style="min-height:100px;">
		
		<div class="col col-center" ng-repeat="action in monthly.config.responses">
			<button class="button button-outline button-block button-{{ action.color }}" ng-click="monthly.rate( action.text )" style="height:55px; line-height:1">
				{{ action.text }}
			</button>
		</div>

	</div>

</ion-content>

<div class="bar bar-footer bar-light">

	<button class="button button-small button-clear button-positive" ng-if="monthly.object.activity_image_index != 0" ui-sref="monthly({objID: monthly.object.activity_image_index - 1})">
		Back
	</button>

	<div class="title"></div>

	<button class="button button-small button-clear button-positive" ng-if="monthly.object.activity_image_index != monthly.numberOfObjs - 1" ui-sref="monthly({objID: monthly.object.activity_image_index + 1})">
		Skip
	</button>

	<button class="button button-small button-clear button-positive" ng-if="monthly.object.activity_image_index == monthly.numberOfObjs - 1" ng-click="monthly.rate(0)">
		Skip and Submit
	</button>

</div>