<ion-pane>
  <ion-content>
  
    <!-- SRC: https://blog.nraboy.com/2015/03/make-a-gallery-like-image-grid-using-ionic-framework/ -->

    <div class="row" ng-repeat="pic in config.list" ng-if="$index % 3 === 0">
      
      <div class="col col-33" ng-if="$index < config.list.length">
        <img ng-src="{{ config.list[$index].activity_image }}" style="width:100%;" />
      </div>
      <div class="col col-33" ng-if="$index + 1 < config.list.length">
        <img ng-src="{{ config.list[$index + 1].activity_image }}" style="width:100%;" />
      </div>
      <div class="col col-33" ng-if="$index + 2 < config.list.length">
        <img ng-src="{{ config.list[$index + 2].activity_image }}" style="width:100%;" />
      </div>
      
    </div>
  </ion-content>
</ion-pane>