<ion-content scroll="false">

<div style="height:60vh; background-color: #1e8cf4; text-align:center;">
  <h1 style="color:white; padding-top:25vh;">YADL</h1>
</div>
<div style="height:40vh;">
  
  <div class="row">
    <div class="col" style="text-align: center;">
      <h4>Enter your email to continue</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr style="border-top:0px;"/>
    </div>
    <div class="col col-10" style="text-align:center;"><p>OR</p></div>
    <div class="col">
      <hr style="border-top:0px;"/>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="button button-outline button-block button-positive" ui-sref="config">
        Sign in with Gmail
      </button>
    </div>
  </div>

</div>

</ion-content>