<ion-pane>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Settings</h1>
        <button class="button button-clear" ng-click="settings.goBack()">Close</button>
    </div>
    
    <ion-content class="has-header padding" scroll="false">
    
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Notification Time</span>
            <input type="time" ng-model="settings.notificationConfig.time">
          </label>
        </div>

        <button class="button button-block" ng-click="settings.schedule()">
            Set Reminder
        </button>

        <hr/>

        <a class="button button-block" ui-sref="daily">
            Go to Daily
        </a>

        <a class="button button-block" ui-sref="monthly">
            Go to Monthly
        </a>
    
        <button class="button button-block" ng-click="settings.signout()">
            Sign out
        </button>
        
        <hr/>
        
        <div style="width:100%;">
            <p style="text-align: center;"><strong>Version: {{ settings.version }}</strong></p>
        </div>
    
    </ion-content>
</ion-pane>