<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Settings</h1>
      <button class="button button-clear button-positive" ng-click="closeModal()">
        Close
      </button>
    </ion-header-bar>
<ion-content class="padding">
    
    <div class="button button-block button-light" ng-click="logout()">Sign out</div>
    
    <div class="button button-block button-light" ui-sref="monthly">Monthly(Debug)</div>
    
    
    <hr />
    <div style="width:100%;">
        <p style="text-align:center;"><strong>VERSION: {{ version }}</strong></p>
    </div>
    
</ion-content>
</ion-modal-view>