<ion-pane>
  <ion-content scroll="false">

    <div class="animated fadeIn" style="height:55vh; background-color: #1e8cf4; text-align:center; background-image: url({{ activities.list[activities.indx]['activity_image'] }}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;"></div>

    <div>
      
      <div class="row">
        <div class="col" style="text-align: center;">
          <h4>How difficult is this activity for you?</h4>
          <small>{{ activities.indx + 1 }} of {{ activities.list.length }}</small>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr style="border-top:0px;"/>
        </div>
      </div>

      <div class="row">
        <div class="col" ng-click="activities.makeResponse('EASY')">
          <button class="button button-outline button-block button-balanced" style="width:96px; height:96px; border-radius:48px; margin: 0 auto;">
            Easy
          </button>
        </div>
        <div class="col" ng-click="activities.makeResponse('MODERATE')">
          <button class="button button-outline button-block button-energized" style="width:96px; height:96px; border-radius:48px; margin: 0 auto;">
            Moderate
          </button>
        </div>
        <div class="col" ng-click="activities.makeResponse('HARD')">
          <button class="button button-outline button-block button-assertive" style="width:96px; height:96px; border-radius:48px; margin: 0 auto;">
            Hard
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr style="border-top:0px;"/>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button ng-click="activities.addMore()" class="button button-small button-outline button-positive" style="float:right;">
            Add More Activities
          </button>
        </div>
        <div class="col col-33">
          <button ng-click="activities.skip()" class="button button-small button-outline button-positive" style="float:right;">
            Skip Activity
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-pane>