<ion-pane>
  <ion-content scroll="false" class="has-footer">
    <a ui-sref="settings"  class="button button-icon icon ion-gear-a" style="position:fixed; top:10px; right:10px; z-index:1000; color:white;"></a>

    <!--Image Container-->
    <div class="animated fadeIn" 
      style="height:55vh; background-color: #1e8cf4; position:relative; 
             text-align:center; background-image: url({{ monthly.list[monthly.indx]['activity_image'] }}); 
             background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;">
      
      <div style="position:absolute; background-color: #1e8cf4; z-index:1000; height: 35px; width:100%; bottom:0px;">
        <h3 style="color:white;">{{ monthly.list[monthly.indx]['activity_name'] }}</h3>
      </div>
      
   </div>
   <!--/Image Container-->
   
   <!--Controls Container-->
    <div>  
      
      <!--Progress Bar Container-->
      <div id="progress-status" class="row">
        <div class="col" style="text-align: center;">
          <h4>How hard is this activity for you on a difficult day?</h4>
          <small>{{ monthly.indx + 1 }} of {{ monthly.list.length }}</small>
        </div>
      </div>
      <!--/Progress Bar Container-->
      
      <!--Line-->
      <div class="row">
        <div class="col">
          <hr style="border-top:0px;"/>
        </div>
      </div>
      <!--/Line-->
      
      <!--Buttons Container-->
      <div class="row">
        <div class="col col-center" ng-click="monthly.makeResponse('EASY')">
          <button class="button button-outline button-block button-balanced" style="margin: 0 auto; padding-left:6px; padding-right:6px;">
            Easy
          </button>
        </div>
        <div class="col col-center" ng-click="monthly.makeResponse('MODERATE')">
          <button class="button button-outline button-block button-energized" style="margin: 0 auto; padding-left:6px; padding-right:6px;">
            Moderate
          </button>
        </div>
        <div class="col col-center" ng-click="monthly.makeResponse('HARD')">
          <button class="button button-outline button-block button-assertive" style="margin: 0 auto; padding-left:6px; padding-right:6px;">
            Hard
          </button>
        </div>
      </div>
      <!--/Buttons Container-->
      
    </div>
    <!--/Controls Container-->
  </ion-content>
  <div class="bar bar-footer bar-light" ng-click="daily.submitSelection()">
    <button ng-click="monthly.back()" ng-show="monthly.indx >0"class="button button-small button-outline button-positive">
      Back
    </button>
    <div class="title"></div>
    <button ng-click="monthly.skip()" class="button button-small button-outline button-positive">
      Skip Activity
    </button>
  </div>
</ion-pane>