
.long-header-text{
  text-align: center;
  font-size:17px; 
  font-weight: 500; 
  line-height: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.selectedActivity{
  border: 5px solid #4b8aee;
}

#progress-status {
	position: relative;
}

.circle-button{
    width: 96px; 
    height: 96px; 
    border-radius:48px; 
    margin: 0 auto;
}

