.white-icon{
	color: white;
}
.white-icon:active { 
  color:white 
}

.white-icon:hover { 
  color:white 
}
.white-icon::after { 
  color:white 
}

.upper-right{
	position: absolute;
	top: 12px;
	right: 12px;
}
.bottom-left{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.long-header-text{
  text-align: center;
  font-size:17px; 
  font-weight: 500; 
  line-height: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.selectedActivity{
  border-radius: 5px;
  border: 5px solid #4b8aee !important;
}


.daily-container{
    background-color:white;
    border-radius: 5px; 
    border: 5px #f0f0f0 solid;
}

.nothing-to-report-btn{
    position: absolute;
    z-index: 100;
    bottom: 35px;
    width: 100%;
    padding: 5px;
}

.selected-entry{
  z-index: 1000;
  position: relative;

  font-size: 300%;
  text-align: center;
  
  background-color:white;
  border-radius: 30px;
  
  width: 45px;
  height: 45px;
}

.full-study-img{
  position: absolute;
}