.white-icon{
	color: white;
}
.white-icon:active { 
  color:white 
}

.white-icon:hover { 
  color:white 
}
.white-icon::after { 
  color:white 
}

.upper-right{
	position: absolute;
	top: 12px;
	right: 12px;
}
.bottom-left{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.long-header-text{
  text-align: center;
  font-size:17px; 
  font-weight: 500; 
  line-height: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.selectedActivity{
  border: 5px solid #4b8aee;
}


.full-study-img{
    width:100%;
    height: 55vh;
}